body{
	background:purple;
	color:white;
	font-family:Georgia;
	text-align: center;
}	
h1{
	text-shadow: 2px 2px;
}	
h2{
	text-decoration: underline;
	font-weight: bold;
}
h3{
	text-decoration: underline;
	font-weight: bold;
}	
.b{
	list-style-type: circle;
	color:orange;
	width:100px;
	margin:0 auto;
}	
.line{
	text-decoration: underline;
}	
@media(min-width:800px){
	.flexB1{
		justify-content:space-around;
	}
	.flexB2{
		justify-content:space-around;
	}
	.flexB3{
		justify-content:space-around;
	}
}
.row{
		flex-direction:row;	
		display:flex;
		flex-basis:20%;
		justify-content:space-around
}