body{
	background:purple;
	color:white;
	font-family:Georgia;
	text-align: center;
}	
h1{
	//text-shadow: 2px 2px;
	color:black;
}	
h2{
	text-decoration: underline;
	font-weight: bold;
}
h3{
	text-decoration: underline;
	font-weight: bold;
}	
.b{
	list-style-type: circle;
	color:orange;
	width:100px;
	margin:0 auto;
}	
.a{
	list-style-type: circle;
	color:white;
	width:100px;
	margin:0 auto;
}
.line{
	text-decoration: underline;
}	
@media(min-width:800px){
	.flexB1{
		justify-content:space-around;
	}
	.flexB2{
		justify-content:space-around;
	}
	.flexB3{
		justify-content:space-around;
	}
}
.row{
		flex-direction:row;	
		display:flex;
		flex-basis:20%;
		justify-content:space-around
}
#top{
}
#header{
	display:flex;
}
.pages{
	flex:20%;
	padding:5%;
}
#colour{
	color:black;
}	

img{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 150px;	
}
.start{
	border-radius: 30%;
	font-size: 20px;
	background-color: #4CAF50;
	
}
.blueButton{
	border-radius: 12px;
	font-size: 20px;
	background-color: #008CBA;
	width: 50%;
}
.redButton{
	border-radius: 12px;
	font-size: 20px;
	background-color: #f44336;
	width: 50%;
}